
.Signup {
    background: black;
    overflow: auto;
    background: url('/assets/wooden.jpg');
    background-size: cover;
    height: 100vh;
}

.input-box {
    border-radius: 10px;
    margin: 5%;
    padding: 3%;
    border-top: black;
    border-left: black;
    border-width: 2px;
    box-shadow: 3px 3px 4px 0px;
    background: transparent;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.style_button {
    background-color: white;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    box-shadow: 3px 3px 4px 0px;
    border-top: black;
    border-left: black;
    height: 40px;
    background: linear-gradient(aqua, blue);
}

.style_button:hover {
    background: linear-gradient(to right, blue, aqua);
}

.card {
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 25px;
    width: 25%;
    margin-top: 5%;
    box-shadow: 10px 10px 10px 0px;
    /* background-color: transparent; */
    opacity: .95;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}